/* # RESET */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* # UTILS */

.container {
  margin: 0 auto;
  padding: 0 10px;
  width: 1000px;
  max-width: 100%;
}

img {
  max-width: 100%;
}

/* # PRODUCTS-CARD */

.products > .container {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  gap: 2rem;
  padding: 5rem 0;
}

.products .products-card {
  flex: 1 0 30%;
  padding: 1rem;
  position: relative;

  background-color: white
  min-height: 300px;
}

/* # DISCOUNT */

.products-card .card-discount-cuore{
    position: absolute;
    top: 21px;
    right: 16px;
    background-color: white;
    width: 21px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    
}

.products-card .card-discount-sconto{
    position: absolute;
    top: 325px;
    right: 214px;
    background-color: #F44336;
    width: 53px;
    height: 22px;
    line-height: 23px;
    text-align: center;
    color: white;
}

.products-card .card-discount-sostenibilità{
    position: absolute;
    top: 325px;
    right: 126px;
    background-color: #4CAF50;
    width: 85px;
    height: 22px;
    line-height: 23px;
    text-align: center;
    color: white;
}
}
.products-card .card-description > h6 {

}

.products-card .card-description > p {
  margin-bottom: 1rem;
}

/* # PREZZO SCONTATO */
.price-sale {
  color: red;
  font-weight: bold;
  font-size: 1.2em;
}

/* # PREZZO ORIGINALE */
.price-original {
  color: grey;
  text-decoration: line-through;
  margin-left: 10px;
  font-size: 1em;
}
